@model List<rents>
@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
}

@foreach (var item in Model)
{
    
<input type="text" name="Id" id="Id" />
    @item.Id
    <br />
    <div id="city" class="guncelle" data-id="@item.Id"><a data-bs-toggle="modal" data-bs-target="#largeModal" href="">Tıkla</a></div>
    <br/>

}






<div class="modal fade" id="largeModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel3">Modal title</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col mb-3">
                        <label for="nameLarge" class="form-label">Name</label>
                        <input type="text" id="test" class="form-control" placeholder="Enter Name" />
                    </div>
                </div>
                <div class="row g-2">
                    <div class="col mb-0">
                        <label for="emailLarge" class="form-label">Email</label>
                        <input type="text" id="emailLarge" class="form-control" placeholder="xxxx@xxx.xx" />
                    </div>
                    <div class="col mb-0">
                        <label for="dobLarge" class="form-label">DOB</label>
                        <input type="text" id="dobLarge" class="form-control" placeholder="DD / MM / YY" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>




@section Scripts{ 
    <script type="text/javascript">
        $(document).on("click",".guncelle",function () {

            var city = $(this).attr("data-id");
            $.ajax({
                url: '@Url.Action("test3edit", "Home")',
                type: "GET",
                dataType: "json",
                data: { cityId: city },
                success: function (data) {

                    $.each(data, function () {
                        console.log(data.id);
                        //console.log(data[0].id);
                        //console.log(this.id);
                        //console.log(this);
                        //$('#district').append('<option value=' + this.id + '>' + this.name + this.surname + '</option>');
                        $("#test").val(data.id);

                    });
                }
            });
        });
    </script>
}